.alap-tema{
    --oldalhatter: rgb(13, 24, 30);
    --widgethatter: rgba(19, 33, 41, 0.7);
    --profilkepborder: rgba(19, 33, 41, 0.7) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);
    --betuszin: white;
    --shadow: rgba(0, 0, 0, 0.274);
    --feketehtrbg: rgba(255, 255, 255, 0.699);
    --feketehtrclr: rgb(0, 0, 0);
    --feketehtrbghover: rgba(31, 52, 65, 0.7);
    --feherhtrbg: rgba(25, 44, 54, 0.7);
    --feherhtrclr: white;
    --feherhtrbghover: rgba(31, 52, 65, 0.7);

    --inputcolor: rgba(31, 52, 65, 0.7);
    --hoverbg: rgba(31, 52, 65, 0.5);
    --bordercolor: rgba(47, 73, 88, 0.7);
    --htrszin: rgba(13, 24, 30, 0.175);

    --designtitle: #1c303b; /* A betűszín nem változik, a háttere átlátszó */
    --designsection: rgba(22, 39, 48, 0.7);
    --navbartoggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: rgba(25, 44, 54, 0.7);
    --navgombhover: rgba(31, 52, 65, 0.7);
    --bgimg: url(../pics/alaphtr.svg);
}
.lila-tema{
    --oldalhatter: rgb(13, 14, 30);
    --widgethatter: rgba(19, 19, 41, 0.7);
    --profilkepborder: rgba(21, 19, 41, 0.7) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);
    --betuszin: white;
    --shadow: rgba(0, 0, 0, 0.274);
    --feketehtrbg: rgba(255, 255, 255, 0.699);
    --feketehtrclr: rgb(0, 0, 0);
    --feketehtrbghover: rgba(34, 31, 65, 0.7);
    --feherhtrbg: rgba(28, 25, 54, 0.7);
    --feherhtrclr: white;
    --feherhtrbghover: rgba(34, 31, 65, 0.7);

    --inputcolor: rgba(33, 31, 65, 0.7);
    --hoverbg: rgba(33, 31, 65, 0.5);
    --bordercolor: rgba(47, 47, 88, 0.7);
    --htrszin: rgba(14, 13, 30, 0.175);

    --designtitle: #1c1c3b; /* A betűszín nem változik, a háttere átlátszó */
    --designsection: rgba(25, 22, 48, 0.7);
    --navbartoggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: rgba(28, 25, 54, 0.7);
    --navgombhover: rgba(33, 31, 65, 0.7);
    --bgimg: url(../pics/lilahtr.svg);
}
.rozsa-tema{
    --oldalhatter: rgb(252, 204, 229);
    --widgethatter: rgba(255, 204, 229, 0.7);
    --profilkepborder: rgba(255, 204, 229, 0.7) !important;
    --wesocnavkep: invert(100%);
    --invertalt2: invert(0%);
    --betuszin: black;
    --shadow:rgba(0, 0, 0, 0.13);
    --feketehtrbg: rgb(254, 96, 173);
    --feketehtrclr: rgb(255, 204, 229);
    --feketehtrbghover: rgba(255, 204, 229, 0.7);
    --feherhtrbg: rgba(255, 204, 229, 0.7);
    --feherhtrclr: rgb(255, 204, 229);
    --feherhtrbghover: rgba(255, 204, 229, 0.7);

    --inputcolor: rgba(254, 154, 202, 0.7);
    --hoverbg: rgba(255, 204, 229, 0.5);
    --bordercolor: rgba(255, 204, 229, 0.7);
    --htrszin: rgba(255, 204, 229, 0.175);
    --designtitle: rgb(255, 170, 211);
    --designsection: rgba(255, 204, 229, 0.7);
    --navbartoggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: rgba(255, 204, 229, 0.7);
    --navgombhover: rgba(255, 204, 229, 0.7);
    --bgimg: url(../pics/rozsahtr.svg);
}

.feher-tema{
    --oldalhatter: #f2f2f2;
    --widgethatter: #ffffff93;
    --betuszin: black;
    --designh5:#132129;
    --profilkepborder: var(--widgethatter) !important;
    --wesocnavkep: invert(100%);
    --invertalt2: invert(0%);

    --shadow:rgba(0, 0, 0, 0.13);
    --feketehtrbg: #222c31;
    --feketehtrclr: #f5f5f5;
    --feketehtrbghover: rgb(216, 216, 216);
    --feherhtrbg: #ffffff93;
    --feherhtrclr: black;
    --feherhtrbghover: rgb(54, 54, 54);


    --inputcolor: rgba(214, 214, 214, 0.432);
    --hoverbg: #eeeeeeab;
    --bordercolor: rgba(128, 128, 128, 0.521);
    --htrszin:#ffffffd5;

    --designtitle:#e1e1e1dc;
    --designsection: #e6e6e6be;
    --navbartoggler:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(1, 1, 1, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --navgomb: #ffffff93;
    --navgombhover:rgba(216, 216, 216, 0.459);
    --bgimg: url(../pics/feherhtr.svg);
}
.kek-tema{
    --oldalhatter: rgb(13, 18, 30);
    --widgethatter: rgba(19, 26, 41, 0.7);
    --profilkepborder: rgba(19, 28, 41, 0.7) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);
    --betuszin: white;
    --shadow: rgba(0, 0, 0, 0.274);
    --feketehtrbg: rgba(255, 255, 255, 0.699);
    --feketehtrclr: rgb(0, 0, 0);
    --feketehtrbghover: rgba(31, 40, 65, 0.7);
    --feherhtrbg: rgba(25, 32, 54, 0.7);
    --feherhtrclr: white;
    --feherhtrbghover: rgba(31, 42, 65, 0.7);

    --inputcolor: rgba(31, 40, 65, 0.7);
    --hoverbg: rgba(31, 40, 65, 0.5);
    --bordercolor: rgba(47, 57, 88, 0.7);
    --htrszin: rgba(13, 18, 30, 0.175);

    --designtitle: #1c243b; /* A betűszín nem változik, a háttere átlátszó */
    --designsection: rgba(22, 28, 48, 0.7);
    --navbartoggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: rgba(25, 29, 54, 0.7);
    --navgombhover: rgba(31, 42, 65, 0.7);
    --bgimg: url(../pics/kekhtr.svg);
}




.piros-tema{
    --oldalhatter: #1e0d0ddc;
    --widgethatter: #291313c6;
    --betuszin: white;
    --designh5:#ecadad;
    --profilkepborder: var(--widgethatter) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);

    --shadow:rgba(0, 0, 0, 0.274);
    --feketehtrbg: #ffffff;
    --feketehtrclr: black;
    --feketehtrbghover: #411f1fc2;
    --feherhtrbg: #361919d2;
    --feherhtrclr: #ffffff;
    --feherhtrbghover: #411f1fd2;

    --inputcolor: rgba(65, 31, 31, 0.5);
    --hoverbg: #411f1f;
    --bordercolor: #582f2f;
    --htrszin:#1e0d0dd2;

    --designtitle:rgba(59, 28, 28, 0.699);
    --designsection: #301616be;
    --navbartoggler:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: var(--feherhtrbg);
    --navgombhover: var(--feherhtrbghover);
    --bgimg: url(../pics/piroshtr.svg);
}

.zold-tema{
    --oldalhatter: #0d1e0e;
    --widgethatter: #132916;
    --betuszin: white;
    --designh5:#b7ecad;
    --profilkepborder: var(--widgethatter) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);

    --shadow:rgba(0, 0, 0, 0.274);
    --feketehtrbg: #ffffff;
    --feketehtrclr: black;
    --feketehtrbghover: #1f4126;
    --feherhtrbg: #19361c;
    --feherhtrclr: #ffffff;
    --feherhtrbghover: #1f4125;

    --inputcolor: rgba(31, 65, 34, 0.5);
    --hoverbg: #1f4120;
    --bordercolor: #244926;
    --htrszin:#0d1e0dd2;

    --designtitle:#1c3b21;
    --designsection: #163016;
    --navbartoggler:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: #19361b;
    --navgombhover: #1f4121;
    --bgimg: url(../pics/zoldhtr.svg);
}

.narancs-tema{
    --oldalhatter: rgb(97, 56, 3);
    --widgethatter: rgba(113, 74, 2, 0.7);
    --profilkepborder: rgba(113, 70, 0, 0.7) !important;
    --wesocnavkep: invert(0%);
    --invertalt2: invert(100%);
    --betuszin: white;
    --shadow: rgba(0, 0, 0, 0.274);
    --feketehtrbg: rgba(255, 255, 255, 0.699);
    --feketehtrclr: rgb(0, 0, 0);
    --feketehtrbghover: rgba(113, 66, 1, 0.7);
    --feherhtrbg: rgb(106 66 2);
    --feherhtrclr: white;
    --feherhtrbghover: rgba(122, 61, 0, 0.7);

    --inputcolor: rgba(139, 88, 0, 0.614);
    --hoverbg: rgba(127, 78, 0, 0.5);
    --bordercolor: rgba(139, 88, 0, 0.614);
    --htrszin: rgba(136, 73, 0, 0.175);

    --designtitle: #734d00; /* A betűszín nem változik, a háttere átlátszó */
    --designsection: rgba(125, 77, 0, 0.7);
    --navbartoggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    --navgomb: rgba(132, 75, 0, 0.7);
    --navgombhover: rgba(132, 84, 0, 0.7);
    --bgimg: url(../pics/narancshtr.svg);
}




@font-face {
    font-family: syne-regular;
    src: url(../fonts/syne/TTF/Syne-Regular.ttf);
  }
  @font-face {
    font-family: syne-bold;
    src: url(../fonts/syne/TTF/Syne-Bold.ttf);
  }
  @font-face {
    font-family: syne-extra;
    src: url(../fonts/syne/TTF/Syne-Extra.ttf);
  }
.syne-bold{
    font-family: syne-bold !important;
}
.syne-regular{
    font-family: syne-regular !important;
}
.syne-extra{
    font-family: syne-extra !important;
}
.oldal{
    animation: attunesanimacio ease 1.30s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body {
    font-display: optional !important;
}

@keyframes attunesanimacio {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--oldalhatter) !important;
    background-image: var(--bgimg);
    background-attachment: fixed ;

    font-family: syne-regular !important;
    color: var(--betuszin) !important ;

}

#dashboard{
    color:  var(--betuszin) !important;
}
main{
    z-index: 10;
    min-height: 100vh !important;
}
#htrszin{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -10;

    width: 100% !important;

}
nav{
    margin: 15px !important;
    border-radius: 30px !important;
    z-index: 9;
    margin-bottom: 15px !important;
    position: sticky !important;
    top: 15px;
    background-color: var(--widgethatter) !important;
    padding: 18px !important ;
    backdrop-filter: blur(20px) !important;
}
nav::after{
    margin: 0px !important;
    border-radius: 0px !important;
}
nav .navbar-brand img{
    filter:var(--wesocnavkep) !important;
}
.navbar-toggler{
    color: var(--betuszin) !important;
}
.navbar-toggler-icon {
    background-image: var(--navbartoggler) !important;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

@media only screen and (min-width: 992px) {
    nav input[type="text"]{
        width: 24vw !important;
    }
   .nav-item{
    margin:0px 10px 0px !important;
   }
}
.mobilosmegjelenes{
    display:none !important;
}
@media only screen and (max-width: 992px) {
    nav .nav-item {
        background-color:transparent !important;
    }
    .navbar-collapse{
    padding-top: 10px;
    }


    .mobilosmegjelenes{
        display:inline-block !important;
        margin-left:10px !important;
        font-weight: normal !important;
    }
    nav input{
        width:100% !important;
    }
    nav .nav-item{
        text-align:center !important;
        margin:0 auto !important;
        margin-top: 10px  !important;
        margin-bottom: 10px  !important;
    }

    nav .dropdown {
        background-color: transparent !important;
    }
    .navbar-nav{
        margin: 0 auto !important;
    }
}
.gomb{
    border-radius: 30px !important;
    padding: 8px 40px 8px !important;
    text-decoration: none !important;
    border: none !important;
    width:fit-content;


}
.gomb a{
    text-decoration: none !important;
}
.feherhtr{
    background: var(--feherhtrbg) !important;
    color:  var(--feherhtrclr) !important;
    transition: 0.4s all !important;
}
.keresogomb:hover{

    opacity: 70%;
}
.keresogomb{
    background: transparent !important;
    border:none !important;
    margin-left: -60px !important;
    color: var(--feketehtrclr) !important;
    transition: 0.4s all !important;
}
.icon{
    opacity: 90%;
}

.feherhtr:hover{
    background: var(--feherhtrbghover) !important;
    color: white !important;
    transition: 0.4s all !important;
}
.feketehtr{
    background: var(--feketehtrbg) !important;
    color: var(--feketehtrclr) !important;
    transition: 0.4s all !important;
    -webkit-transition: 0.4s all !important;
    -moz-transition: 0.4s all !important;
    -ms-transition: 0.4s all !important;
    -o-transition: 0.4s all !important;
}
.piroshtr{
    background: rgb(223, 46, 46) !important;
    color: var(--feketehtrclr) !important;
    transition: 0.4s all !important;
}

.piroshtr:hover{
    background: rgb(199, 38, 38) !important;
    color:  var(--betuszin) !important;
    transition: 0.4s all !important;
}
.kekhtr{
    background: rgb(43, 132, 214) !important;
    color: var(--feketehtrclr) !important;
    transition: 0.4s all !important;
}
.kekhtr:hover{
    background: rgb(38, 132, 196) !important;
    color:  var(--betuszin) !important;
    transition: 0.4s all !important;
}
.feketehtr:hover{
    background: var(--feketehtrbghover) !important;
    color:  var(--betuszin) !important;
    transition: 0.4s all !important;
}
#bejegyzesletrehozas{
    background-color: var(--widgethatter) !important;
    border-radius: 20px !important;
    overflow: auto;
    padding-bottom: 0px !important;

}
#bejegyzesletrehozas #itemek{
    float: left !important;
    padding-left: 10px !important;
}
#bejegyzesletrehozas #itemek .col{
    padding: 0px !important;
}
#bejegyzesletrehozas button[type="submit"]{
    float:right !important;

}
#bejegyzesletrehozas textarea:hover, nav input:hover, #bejegyzesletrehozas input:hover, .hozzaszolasform textarea:hover{
    backdrop-filter: brightness(110%) !important;
    transition: 0.3s all !important;
}

#bejegyzesletrehozas textarea, nav input, #bejegyzesletrehozas input, .hozzaszolasform textarea{
    background-color: var(--widgethatter) !important;
    padding: 10px !important;
    padding-left: 15px !important;
    border: 1px solid var(--inputcolor);
    border-radius: 20px !important ;
    color: var(--betuszin) !important;
    transition: 0.3s all !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {

  outline:  none !important;
}
.form-control:focus {
    box-shadow: none !important;
}
.bejegyzesletrehozasgombok{
    margin-bottom: 0px !important;
}
#bejegyzes .card-header{

    padding-left: 5px;
    background-color: transparent !important;

}
#bejegyzes a{
    text-decoration: none !important;
    color:var(--betuszin) !important;
}
.commentgombok .drpdwn{
    font-weight: 800 !important;
    margin-top: -50px !important;
    margin-right: 15px !important;
    float: right !important;
}
.bejegyzesgombok{
    display: flex !important;
    float: right !important;
}
.bejegyzesgombok .drpdwn{
    font-weight: 800 !important;
}
#bejegyzes .bejegyzesnev{
    display: inline-block !important;
    margin: 0px;
    list-style-type: none !important;
    padding-left: 10px !important;
    vertical-align: middle !important;
}
button{
    border-radius: 20px !important;
}
#kozepsosav{
    margin: 0 !important;
}
@media only screen and (min-width: 992px) {
#bejegyzes .like-gomb{
    float:left !important;
    display: block !important;
    margin:0px 5px 0px !important;
}
#bejegyzes .muvelet-gomb{
    float:right !important;
    margin:0px 5px 0px !important;
    display: block !important;
}
}
@media only screen and (max-width: 992px) {
    #bejegyzes .like-gomb{

        display: inline-block !important;
        margin:0 auto !important;
        margin:0px 5px 0px !important;

    }
    #bejegyzes .muvelet-gomb{

        display: inline-block !important;

        margin:0px 5px 0px !important;
    }
}
#bejegyzes{

    background-color: var(--widgethatter) !important;
    border-radius: 20px !important;
}
nav, #bejegyzes, #bejegyzesletrehozas, .profilszerkesztes, .card {

    background: var(--widgethatter);
    box-shadow: 0px 0px 25px var(--shadow);

}
#jobboldalisav ul li, #baloldalisav ul li{
    box-shadow: 0px 0px 25px var(--shadow);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.dropdown a{
    color: var(--betuszin) !important;
}
.dropdown-menu{
    background-color: var(--widgethatter) !important;
   border-radius: 20px !important;
}
.dropdown-item {
    color: var(--betuszin) !important;
    border-radius: 0px !important;
    transition: 0.3s all !important;
}
.dropdown-item img{
    margin-right: 10px !important;
}
.dropdown-item:hover{
    background-color: var(--hoverbg);
    transition: 0.3s all !important;
}


.attunes:not(.dropdown-menu):hover{
    opacity: 70% !important ;
    transition: 0.3s !important;
}
.attunes .dropdown-item:hover{
    background-color: transparent !important;
}
.attunes{
    transition: 0.3s !important;

}
.attunes:hover{
    opacity: 70% !important ;
}
.navgomb img{
    transition: 0.3s !important;
    vertical-align: middle !important;
}
.navgomb{

        border-radius: 30px !important;
        padding: 8px  !important;
        text-decoration: none !important;
        border: none !important;
        width:fit-content;
        font-weight: 600 !important ;
        background-color: var(--navgomb) !important;


}
.drpdwn{
    text-decoration: none !important;
    transition: 0.3s !important;


}

.dp-item{
padding: 10px !important;

}
.drpdwn img{
    border-radius: 100% !important;
}
.profil img{
    margin-inline-end: 0px !important;
    margin-right: 10px !important;
}


#bejegyzesletrehozas #bejegyzesprofilkep{
    border-radius: 100% !important;
}
#bejegyzesletrehozas {
    background-color: var(--widgethatter) !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
#bejegyzesletrehozas .col-auto{
    margin-right: 0px !important;
}
#bejegyzesletrehozas #images, #bejegyzesletrehozas #videos{
    display: none !important    ;
}
#bejegyzesletrehozas #postContent::placeholder, #bejegyzesletrehozas #postTitle::placeholder, .hozzaszolasform textarea::placeholder, input[name="query"]::placeholder{
    color: var(--betuszin) !important;
    opacity:60%;


}
.bejegyzespostolva{
    font-family: syne-regular !important;
    font-weight: normal !important;

    color: var(--betuszin) !important;
    opacity: 60%;
}

.bejegyzescim{
    font-weight: bold !important;

    margin-top: 20px !important;
    text-align: left;
    padding-left: 10px !important;
}
.bejegyzestartalom{
    text-align: left;
    padding-top: 10px !important;
    padding-left: 10px !important;
    margin-bottom: 30px !important;
    opacity: 90%;
}
.bejegyzeskep{
    border-radius: 10px !important;

    text-align: center !important;
    margin: 0 auto !important;

    margin-bottom: 20px !important;
    display: block !important;

    width: 100% !important;

}
#bejegyzes{
    padding: 20px !important;

    margin-bottom: 40px !important;
}
.drop-container {
    position: relative;
    width: 100px; /* A konténer szélességének beállítása */
    height: 100px; /* A konténer magasságának beállítása */
    cursor: pointer;
}
.upload-icon{
    cursor:pointer;
    margin: 5px !important;
    transition: 0.3s all;
}
.upload-icon:hover{
    opacity: 80% !important;
    transition: 0.3s all;
}
#gomb {
    border-radius: 20px !important;
}

#gomb a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;

  }


  ::-webkit-scrollbar-track {
    background: #0D181E;

  }


  ::-webkit-scrollbar-thumb {
    background: var(--widgethatter);
    border-radius: 100px;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #0D181E;
  }

  .profilszerkesztes{
    background-color: var(--widgethatter) !important;
    border-radius: 20px !important;
    color: var(--betuszin) !important;
}
.profilszerkesztes h2{
    font-family: syne-bold !important;
}
 .modal-body, .modal-header, .modal-footer{
    background-color: var(--oldalhatter);

}
.modal{
    backdrop-filter: blur(5px);
}
.modal-header{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.modal-content{
    margin-top: 30vh !important;
    border-top-left-radius: 22px !important;
    border-top-right-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    z-index:100 !important;
}
.modal-backdrop.show {
    z-index:-1 !important;
}
.modal-footer{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.profilszerkesztes form input:focus, .profilszerkesztes form textarea:focus, .profilszerkesztes form select:focus{
    background-color: var(--widgethatter);
    padding-left: 10px !important;
    border: 1px solid var(--bordercolor);
    border-radius: 20px !important;
    color: var(--betuszin) !important;
}
.profilszerkesztesform input:hover, .profilszerkesztesform textarea:hover, .profilszerkesztesform select:hover{
    background-color: rgb(238, 238, 238);
    transition: 0.3s !important;
}
.profilszerkesztes form label{
    color: var(--betuszin) !important;
    opacity: 60%;
    font-weight: 600 !important;


}
.profilszerkesztes #profilkep{
    border: 3px solid white;
    border-radius: 100%;
    max-width: 150px !important;
    max-height: 150px !important;
    text-align: center !important;
    margin: 0 auto !important;
    margin-top: -60px !important;

}
.profilszerkesztes #boritokep{
    border-radius: 20px !important;
}
 #tema input[type=radio]{
    outline: none;
    border: none;
    display:none;
}
#tema input[type=radio]:checked{
    outline: none;
    border: none;
}
#profilgombdiv{
    text-align: center !important;
    margin: 15px !important;
}

@media only screen and (max-width: 992px) {
#profilgomb{


    text-align: center !important;
}
}
@media only screen and (min-width: 992px) {
    #profilgomb{
        float: right !important;
        margin-top: -55px !important   ;
        margin-right: 20px !important;
    }
    #profilok #profilgomb{
        margin-top: -0px !important   ;
    }
    .baratkerelemgombok{
        margin-top: 30px;
    }
}
 .baratkerelemgombok{
    margin-top: 30px;
}
.profilszerkesztes form input, .profilszerkesztes form textarea, .profilszerkesztes form select{
    background-color: var(--widgethatter);
    padding-left: 10px !important;
    border: 1px solid var(--bordercolor);
    border-radius: 20px !important;
    color: var(--betuszin) !important;
}
.profilszerkesztes{

    margin: 0 auto !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.profilszerkesztes form img{

}
#profil{
    padding: 10px ;

}
#boritokep{
    width: 100%;

    max-height: 40vh ;
}
#profil #profilkep{
    width: 150px !important;
    height: 150px !important;
    margin:0 auto !important;
    border: var(--profilkepborder) 6px solid;
    border-radius: 100% !important;
    margin-top: -60px !important;
}

#profil #boritokep{
    border-radius: 20px !important;

}
#profilrow{
    margin-bottom: 10px !important;
}
#profilrow h5{
    width: fit-content !important;
    margin: 0 auto !important;
}
.tartalomrow .card{
    padding: 25px !important;
}
#design p{
    text-align: left !important;
}
#design h5{
    font-weight: 600 !important;
    text-align: center;
    background-color: var(--designtitle);
    border-radius: 20px !important;
    padding: 8px ;
}

.designszekcio{
    background-color: var(--designsection);
    border-radius: 20px !important;
    margin-bottom: 10px !important;
    padding: 5px ;
}
.designszekcio p{
    padding: 10px !important;
}
.designszekcio a{
    color: var(--betuszin) !important;
    text-decoration: none !important;
    padding: 8px !important;
    background-color: var(--feherhtrbg);
    border-radius: 20px !important;
    text-align: center;
    margin: 10px !important;

}

.balsav{
position: fixed !important;
}
.card{
    border: none !important;
    margin-bottom: 10px !important;
    color: var(--betuszin) !important;
}
#profilrow .col-md .card{
    padding-bottom: 10px !important;
}
#profilrow h3{
    padding-top: 10px !important;
}
#profilrow h5{
    color: var(--betuszin);
    opacity: 70% !important;
}
#profilrow h5::before{
    content: '@';
}
#profil .card{
    border-radius: 20px !important ;
}
footer{
    margin: 15px !important;
    margin-top: 10vh !important;
    box-shadow: 0px 0px 20px var(--shadow) !important;
    border-radius: 30px !important;
    z-index: 10;
    margin-bottom: 15px !important;
    color: var(--betuszin);
    background-color: var(--widgethatter) !important;
    padding: 18px !important ;
}
.footerszekcio{
    background-color: var(--designsection);
    border-radius: 20px !important;
    margin-bottom: 10px !important;
    padding: 5px ;
}
.footerszekcio a{
    color: var(--betuszin) !important;
    text-decoration: none !important;
    padding: 8px !important;
    display:block !important;
    background-color: var(--feherhtrbg);
    border-radius: 20px !important;
    text-align: center;
    margin: 10px !important;
    transition: 0.3s all !important;
    -webkit-transition: 0.3s all !important;
    -moz-transition: 0.3s all !important;
    -ms-transition: 0.3s all !important;
    -o-transition: 0.3s all !important;
}
.footerszekcio a:hover{
    background-color: var(--feherhtrbghover);
    transition: 0.3s all !important;
    -webkit-transition: 0.3s all !important;
    -moz-transition: 0.3s all !important;
    -ms-transition: 0.3s all !important;
    -o-transition: 0.3s all !important;
}
.footerszekcio p{
    color: var(--betuszin) !important;
    text-decoration: none !important;
    padding: 15px !important;
    display:block !important;
    background-color: var(--feherhtrbg);
    border-radius: 20px !important;
    text-align: center;
    margin: 10px !important;
}
footer #copyright{
    text-align: right !important;
    float: right !important;
    font-weight: 700;
    font-family: syne-bold !important;
}
footer .container{
    padding-top: 1vh !important;
}
footer #logo{
    zoom: 20% !important;
}
@media only screen and (max-width: 990px) {
    footer #copyright{
        float: none !important;
        text-align: center !important;

    }
    footer{
        background-position-x: 87% !important;

    }

    footer .col-lg{
        text-align: center !important;
        margin-bottom: 10px !important;
    }

    #temavalaszto{
        text-align: center !important;
    }
}
footer hr{
    width: 80% !important;
    border-top: 1px solid #49728a !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
footer .list-inline{
    text-align: center !important;
}
.invertalt{
    filter: var(--wesocnavkep) ;
}
.invertalt2{
    filter: var(--invertalt2) ;
}
.invertalt2:hover{
    filter: var(--wesocnavkep);
}

/*------------------ profilok.blade.php  --------------------- */

#profilok .card{
    margin: 15px !important;
    border-radius: 20px !important;
    padding:10px !important;

}
#profilok #profilnev{
    max-width: fit-content !important;
    text-decoration: none !important;
    color: var(--betuszin) !important;
    font-weight: bold !important;
    display: block !important;
    vertical-align: middle;

}
#profilok .card img{
    border-radius: 100%;
    margin: 10px !important;
}
#profilok .row{
    margin-left: 0px !important;
    margin-right: 0px !important;

}
#profilok h1{
    margin:25px !important;
    margin-top: 30px !important;
}
.szurke{
    color: var(--betuszin);
    opacity: 70% !important;
    font-weight: normal !important;
}
#profilok .card .col form{
    padding-top: 30px !important;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.custom-pagination li {
    margin: 0 5px;

}

.custom-pagination li a,
.custom-pagination li span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--feherhtrbg);
    color: var(--feherhtrclr);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 0px 20px var(--shadow) !important;
}
.aktivoldal{
    filter: invert(100% );
}
.custom-pagination li a:hover,
.custom-pagination li span.active {
    background-color: var(--feherhtrbghover);
    color: var(--feherhtrclr);
}

#baloldalisav, #jobboldalisav{
    position: sticky !important;
    top: 13.50vh !important;
    padding-top: 0px !important;
}
@media only screen and (max-width: 767px) {
    #baloldalisav, #jobboldalisav{
        padding: 0.50rem !important;
    }
}
#baloldalisav ul li, #jobboldalisav ul li{
    list-style-type: none !important;

}
#baloldalisav ul li a, #jobboldalisav ul li a{
    transition: 0.3s all;
    color: var(--betuszin) !important;
    background-color:  var(--widgethatter) !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 20px !important;
    padding: 15px !important;
    text-decoration: none !important;
    display: block !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
#baloldalisav ul li a img, #jobboldalisav ul li a img{
    margin-right: 10px !important;
    border-radius: 100% !important;
}
#baloldalisav ul li a:hover, #jobboldalisav ul li a:hover{
    background-color:  var(--navgombhover) !important;
    transition: 0.3s all;
}
#baloldalisav ul, #jobboldalisav ul{
    padding-left: 0px !important;

}

.tema-gomb {
    width: 100px !important;
    height: 100px !important;
    border-radius: 10px !important;
    margin: 5px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    color: #fff !important;
    transition: 0.3s all;
}
.tema-gomb:hover{
    filter: brightness(150%);
    transition: 0.3s all;
}
#alapTema {
    background-color: #1c303b !important;

}

#feherTema {
    background-color: #dfdfdf !important;
    color: black !important;
}

#pirosTema {
    background-color: #3b1c1c !important;
}

#narancsTema {
    background-color: rgb(113, 74, 2) !important;
}

#lilaTema {
    background-color: #281c3b !important;
}

#zoldTema {
    background-color: #1c3b1c !important;
}

#atlatszoTema {
    background-color: #1c303b7e !important;
}
#rozsaTema{
    background-color: rgb(252, 204, 229) !important;
    color: black !important;
}
.mentve{
    width: 100%;
    text-align: center;
    padding: 10px;

    margin-top: 10px;


}
/* Hozzászólások gomb */
.comments-section.inactive{
    display:none !important;
}
.comments-section.active{
    display: block !important;
}
.comment-input{
width:100% !important;
}
.comment-list{
    list-style-type: none !important;
    padding-left: 0px !important;

}
.comment-list p{
margin-bottom: 0px !important;
}
.comment-content{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding: 15px !important;
    background: var(--widgethatter) !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.none-comment{
    padding: 15px !important;
    background: var(--feherhtrbg) !important;
    border-radius: 20px !important;
}
.comment-gomb{
    background: transparent !important;
    border: none !important;
    margin-top: -50px !important;
    margin-right: 10px !important;
}

#notificationContainer {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.text{
    color:var(--betuszin) !important;
}
@media only screen and (max-width: 992px) {
.dropdown-menu h3{
    padding: 20px;
}
}


