  
@font-face {
    font-family: syne-regular;
    src: url(../fonts/syne/TTF/Syne-Regular.ttf);
  }
  @font-face {
    font-family: syne-bold;
    src: url(../fonts/syne/TTF/Syne-Bold.ttf);
  }
  @font-face {
    font-family: syne-extra;
    src: url(../fonts/syne/TTF/Syne-Extra.ttf);
  }
.syne-bold{
    font-family: syne-bold !important;
}
.syne-regular{
    font-family: syne-regular !important;
}
.syne-extra{
    font-family: syne-extra !important;
}

body {
    animation: attunesanimacio ease 1.30s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes attunesanimacio {
    0% {
        opacity: 0;
        
    }
  
    100% {
        opacity: 1;
    }
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../pics/htr2_blr.png');   
    background-attachment: fixed ;
    
    font-family: syne-regular !important;
   
}
main{
    min-height: 100vh !important;
}
nav{
    margin-bottom: 15px !important;

    background-color: #f7f6f6 !important;
    padding: 10px !important ;
}
nav .navbar-brand img{
    filter:invert(100%) !important; 
}
.gomb{
    border-radius: 30px !important;
    padding: 8px 40px 8px !important;
    text-decoration: none !important;
    border: none !important;
    width:fit-content;
    font-weight: 600 !important ;
}
.gomb a{
    text-decoration: none !important;
}
.feherhtr{
    background: #DCDCDC !important;
    color:  black !important;
    transition: 0.4s all !important;
}

.feherhtr:hover{
    background: #222c31 !important;
    color: white !important;
    transition: 0.4s all !important;
}
.feketehtr{
    background: #222c31 !important;
    color: white !important;
    transition: 0.4s all !important;
}

.feketehtr:hover{
    background: #DCDCDC !important;
    color:  black !important;
    transition: 0.4s all !important;
}
#bejegyzesletrehozas{
    background-color: #f7f6f6 !important;
    border-radius: 20px !important;
}
#bejegyzesletrehozas textarea{
    background-color: #f7f6f6;
    border: 1px solid #223642;
    border-radius: 20px !important ;
    color: rgb(0, 0, 0) !important;
}
#bejegyzesletrehozas input{
    border: 1px solid #223642;
    background-color: #f7f6f6 !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 20px !important;
}

button{
    border-radius: 20px !important;
}
#kozepsosav{
    margin: 0 !important;
}
#bejegyzes{
    background-color: #f7f6f6 !important;
    border-radius: 20px !important;
}
nav, #bejegyzes, #jobboldalisav, #baloldalisav, #bejegyzesletrehozas, #profilszerkesztes{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.301);
}

.dropdown-menu{
    background-color: #f7f6f6 !important;
   border-radius: 20px !important;
}
.dropdown-item {
    color: rgb(0, 0, 0) !important;
    border-radius: 0px !important;
}
.dropdown-item:hover{
    background-color: #e6e6e6;
}
.dropdown-toggle{
    text-decoration: none !important;
    transition: 0.3s !important;
   

}
.dropdown-toggle img{
    border-radius: 100% !important;
}
.dropdown-toggle img{
    margin-inline-end: 8px !important;
}
.dropdown-toggle:hover{
    opacity: 70% !important ;
    transition: 0.3s !important;
}
#jobboldalisav, #baloldalisav{
    background-color: #f7f6f6 !important;
    border-radius: 20px !important;
  
   
}
.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f6f6;
    border: 2px dashed #223642;
   
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    color: rgb(0, 0, 0) !important;
  }
  
  .drop-container:hover {
    background: #ebebeb;
    border-color: #223642;
  
  }
  

  
  .drop-title {
    color: rgb(0, 0, 0) !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
::-webkit-scrollbar {
    width: 8px;
   
  }
  

  ::-webkit-scrollbar-track {
    background: #0D181E;
    
  }
  

  ::-webkit-scrollbar-thumb {
    background: #f7f6f6;
    border-radius: 100px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #0D181E;
  }

  .profilszerkesztes{
    background-color: #f7f6f6 !important;
    border-radius: 20px !important;
    color: black !important;
}
.profilszerkesztes h2{
    font-family: syne-bold !important;
}

.profilszerkesztes form input:focus{
    border: 1px rgb(160, 160, 160) solid !important;
    background-color: rgb(238, 238, 238);
    outline: none !important ;
}
.profilszerkesztesform input:hover{
    background-color: rgb(238, 238, 238);
    transition: 0.3s !important;
}
.profilszerkesztes form label{
    color: gray !important;
    font-weight: 600 !important;
 
    
}
.profilszerkesztes form input{
    background-color: #f0f0f0;
    transition: 0.3s !important;
border-radius: 25px !important;
}
.profilszerkesztes{
    max-width: 80%;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.profilszerkesztes form img{
    
}
#profil{
    padding: 10px ;
  
}
#boritokep{
    width: 100%;
 
    max-height: 25vh ;
}
#profilkep{
    max-width: 150px !important;
    margin:0 auto !important;
    border:white 3px solid;
    border-radius: 100% !important;
    margin-top: -60px !important;
}
#profilrow{
    margin-bottom: 20px !important;
}

.tartalomrow .card{
    padding: 25px !important;
}
#bio h5{
    font-weight: 600 !important;
}
.card{
    border: none !important;
}
#profilrow .col-md .card{
    padding-bottom: 10px !important;
}
#profil .card{
    border-radius: 20px !important ;
}