body {
    animation: attunesanimacio ease 1.30s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
::-webkit-scrollbar {
    width: 6px;

  }


  ::-webkit-scrollbar-track {
    background: #132129;

  }


  ::-webkit-scrollbar-thumb {
    background: #2c4858;
    border-radius: 100px;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #233a47;
  }
@keyframes attunesanimacio {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: krona;
    src: url(../fonts/KronaOne-Regular.ttf);
  }

@font-face {
    font-family: syne-regular;
    src: url(../fonts/syne/TTF/Syne-Regular.ttf);
  }
  @font-face {
    font-family: syne-bold;
    src: url(../fonts/syne/TTF/Syne-Bold.ttf);
  }
  @font-face {
    font-family: syne-extra;
    src: url(../fonts/syne/TTF/Syne-Extra.ttf);
  }

form{
    z-index: 200 !important;
    background-color: #f7f6f6 !important;
    border-radius: 30px !important;
    padding: 30px !important;
    max-width: fit-content;
    min-width: 25vw;
    margin:0 auto !important;

}
#regisztraciosform>#logo{
    top: 10vh;
}
.mt-4 ul li{
    list-style-type: none !important;
    background-color: rgb(189, 50, 50);
    border-radius: 20px;
    margin:10px 0px 0px !important;
    padding: 8px 10px 8px !important;
    color: white;
}
.mt-4 ul{
    padding-left: 0px !important ;
}
#regisztraciosform{

    margin-top: 12vh !important;
}
#bejelentkezesform, #elfelejtettjelszoform{
    margin-top: 25vh !important;
}
#logo{

    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.3s all;
}
body:has(#regisztraciosform) #logo{
    top: 4vh !important;
}
#logo:hover{
    opacity: 70% !important;
    transition: 0.3s all;
}
form h1{
    text-align: center;
    font-size: 30px !important;
    margin-bottom: 20px !important;
    font-family: syne-bold;
}
.htr{
    z-index: 1 !important;
    position: absolute !important;
    top:0;
    left:0;
    min-height: 100vh;
    width: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url('../pics/htr2.jpg') !important;

}

#password, #email, #password_confirmation, #name, #username, #szulev{
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 30px !important;
    padding: 8px;
    width: 100%;

}

@media only screen and (max-width: 900px) {
    form{
        max-width: 100% !important;
        min-height: 100vh !important;
        border-radius: 0px !important;
        background-color: #f7f6f6 !important;
        backdrop-filter: blur(5px);

    }
    #bejelentkezesform, #elfelejtettjelszoform{
        margin-top: 0px !important;
        padding-top: 25vh !important;

    }
    #regisztraciosform{
        margin-top: 0px !important;
        padding-top: 5vh !important;
        height: fit-content !important;
    }
    #logo{
        display: none !important;
        z-index: 5;
        filter:invert(100%);
    }
}
form input:focus{
    border: 1px rgb(160, 160, 160) solid !important;
    background-color: rgb(238, 238, 238);
    outline: none !important ;
}
form input:hover{
    background-color: rgb(238, 238, 238);
    transition: 0.3s !important;
}
form label{
    color: gray !important;
    font-weight: 500 !important;


}
form input{
    background-color: #f3f3f3;
    transition: 0.3s !important;

}

form button{
    width: 100% !important;
    border: none !important;
    background: #0d181e;
    color: white !important;
    padding: 10px !important;
    border-radius: 30px !important;
    margin-top: 10px !important;
    transition: 0.3s all;
    font-weight: 500 !important;
}
form button:hover{
    background: #21323a;
    transition: 0.3s all;
}
form a{
    color:#923525;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s all;
}
form a:hover{
    color:#6e291d;
    transition: 0.3s all;
}
#remember_me{
    border-radius: 10px !important;

}
x-input-label::after{
    content: '*' !important;
    color: red !important;
}
@media only screen and (min-width: 900px) {
    #regisztraciosform{
        margin-bottom: 10vh !important;
    }
}

#captcha{

        margin: 20px auto !important;
        width: auto !important;
        height: auto !important;
        text-align: center !important;


}
#captcha iframe{
    width: 100% !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
