

@font-face {
    font-family: krona;
    src: url(../fonts/KronaOne-Regular.ttf);
  }
  
@font-face {
    font-family: syne-regular;
    src: url(../fonts/syne/TTF/Syne-Regular.ttf);
  }
  @font-face {
    font-family: syne-bold;
    src: url(../fonts/syne/TTF/Syne-Bold.ttf);
  }
  @font-face {
    font-family: syne-extra;
    src: url(../fonts/syne/TTF/Syne-Extra.ttf);
  }
  body {
    animation: attunesanimacio ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes attunesanimacio {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}
.kerek{
    border-radius: 35px !important;
}
.gomb{
    border-radius: 30px !important;
    padding: 8px 40px 8px !important;
    text-decoration: none !important;
    border: none !important;
    
}
.gomb a{
    text-decoration: none !important;
}
.feherhtr{
    background: #DCDCDC !important;
    color:  black !important;
    transition: 0.4s all !important;
}

.feherhtr:hover{
    background: #222c31 !important;
    color: white !important;
    transition: 0.4s all !important;
}
.feketehtr{
    background: #222c31 !important;
    color: white !important;
    transition: 0.4s all !important;
}

.feketehtr:hover{
    background: #DCDCDC !important;
    color:  black !important;
    transition: 0.4s all !important;
}
nav{
    padding: 40px 70px 30px !important;
    z-index: 1 !important;
    
    width: 100% !important;
}
.navbar{
    background: transparent !important;
    position: sticky !important;

}
.nav-link{
    padding: 0px 25px !important; 
    color: white !important;
    font-size: 19px !important;
    font-weight: 500 !important;
    font-family: syne-regular;
    transition: 0.3s all !important;
}
.nav-link-icon{
    margin-inline-end: 8px !important;
}
@media only screen and (min-width: 992px) {
.float-right{
    position: absolute;
    top: 45px!important;
    right: 60px !important;
}

.navbar-nav{
    margin-left: -100px !important  ;
}

}
@media only screen and (max-width: 992px) {
    nav{
        padding: 40px 40px 30px !important;
    }
    #headerszoveg p{
        line-height: 20pt !important;
    }
    #headergombok a{
        margin: 20px 8px 0px !important;
    
    }
    header{
        background-position-x: 87% !important;
       
    }
   
    .gomb{
      
        padding: 8px 30px 8px !important;
    
     
    }
    .navbar-nav{
        text-align: center !important;
        margin-top: 15px !important;
    }
    .nav-item{
        padding: 5px !important;
    }
    nav .gomb{
        margin: 0 auto !important;
        position: relative !important;
        margin-top: 10px !important;
      
    }
}
.nav-link:hover{
    opacity: 80% !important;
    transition: 0.3s all !important;
}
.navbar-toggler-icon{
    z-index: 10 !important;
}
.navbar-brand{
    font-weight: 700 !important;
    font-size: 23px !important;
    margin-right: 0px !important;
    transition: 0.3s all;
}
.navbar-brand:hover{
    opacity: 70% !important;
    transition: 0.3s all;
}
header{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../pics/htr2.jpg');   
    background-attachment: fixed ;
   
}
#headerszoveg{
    margin-top: 15vh !important;
    color: white !important;
    text-align: center;
    z-index: 600!important;
}
#headerszoveg h1{
    font-size: clamp(50px, 4.60vw, 10vw);
    font-family: syne-extra;
    padding:0px 20px 0px;
    word-wrap:break-word !important; 
}

#headerszoveg p{
    font-size:  clamp(19px, 1.45vw, 10vw);
    max-width: 650px !important;
    margin: 0 auto;
    margin-top: 20px !important;
    padding: 0px 20px 0px  !important;
    line-height: 26pt;
    color: #ffffffec;
    font-family: syne-regular;

}

#headergombok a{
    margin: 20px 12px 0px !important;
    padding: 15px 40px 15px !important;
    font-size:  clamp(15px, 1vw, 10vw);
}
#headergombok{
    margin-top: 30px ;
    
}
.bold{
 
    font-weight: 500 !important;
}


.attunes {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.attunes.aktivv {
    transform: translateY(0);
    opacity: 1;
}
.jobbattunes {
    position: inherit;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.jobbattunes.aktivv {
    transform: translateY(0);
    opacity: 1;
}
.balattunes {
    position: inherit;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.balattunes.aktivv {
    transform: translateX(0);
    opacity: 1;
}
@media only screen and (min-width: 992px) {
    .jobbattunes {
        position: inherit;
        transform: translateX(150px);
        opacity: 0;
        transition: 2s all ease;
    }
    
    .jobbattunes.aktivv {
        transform: translateX(0);
        opacity: 1;
    }
    .balattunes {
        position: inherit;
        transform: translateX(-150px);
        opacity: 0;
        transition: 2s all ease;
    }
    
    .balattunes.aktivv {
        transform: translateX(0);
        opacity: 1;
    }
}

#tartalom{
    height: fit-content;
}

body{
    background-color: rgb(247, 246, 246);
}
.aktiv{
    opacity: 80% !important;
}
#bemutato img{
    border-radius: 30px !important;
}
#tartalom1{
    margin: 0 auto !important;
    margin-top: 150px !important;
    margin-bottom: 100px !important;
    padding: 20px !important; 
   
}
#tartalom1 h1{
    text-align: center !important;
    font-family: krona;
}
#tartalom1 .col-lg-4 h1{
    text-align: right !important;
}

#tartalom1 #szoveg{
    max-width: 500px !important;
}
#tartalom1 .col-lg-4{
    padding: 40px !important;
    text-align: right !important;
}
#tartalom1 .row{
    margin-top: 40px !important;
    
}
#tartalom2 img{
    border-radius: 30px !important;
}
#tartalom2{
    margin: 0 auto !important;
   
    background-color: #0d181e;
    padding: 20px !important;
   color: white !important;
   font-family: Arial, Helvetica, sans-serif !important;
}
#tartalom2 p, #bemutato p{
    font-size: 17px !important;
    font-family: syne-regular;
   
}

#tartalom2 h1{
    text-align: center !important;
    font-family: krona;
    z-index: 666 !important;
}
#tartalom2 .col-lg-4 h1{
    text-align: left !important;
}
#tartalom2 #szoveg{
    max-width: 500px !important;
 
}
#tartalom2 .col-lg-4{
    padding: 40px !important;


}
#tartalom2 .row{
    margin-top: 40px !important;

}
#tartalom3 img{
    border-radius: 30px !important;
}
#tartalom3{
    margin: 0 auto !important;
    margin-top: 150px !important;
    margin-bottom: 100px !important;
    padding: 20px !important; 
   
}
#tartalom3 h1{
    text-align: center !important;
    font-family: krona;
}
#tartalom3 .col-lg-4 h1{
    text-align: right !important;
}

#tartalom3 #szoveg{
    max-width: 500px !important;
}
#tartalom3 .col-lg-4{
    padding: 40px !important;
    text-align: right !important;
}
#tartalom3 .row{
    margin-top: 40px !important;
    
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin: 0 auto !important;
  
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: transparent !important;
    border-radius: 25px !important;
    background: #DCDCDC !important;
   
  }

  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;

}

  .navbar-toggler:focus {
    outline: none !important;
    border: none !important;
  }
footer{
    color: white !important;
    background-color: #0d181e;
    background-image: url('../pics/htr2.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    height: fit-content !important;
    margin-top: 200px;
    padding: 0px 0px 50px;
}
footer .col-lg-3{
   

    margin: 25px 20px 25px;
}
footer .row{
    padding: 40px !important;

    border-radius: 30px !important;
    max-width: 95%;
    
 
}
footer p{
    font-size: 17px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 30px !important;
    background-color: #13212969;
    border-radius: 30px;
    backdrop-filter: blur(15px);
    font-family: syne-regular !important;
}
footer #copyright{
    text-align: right !important;
    float: right !important;
    font-weight: 700;
    font-family: syne-bold !important;
}
footer .copyright{
    padding: 10px !important;
}
@media only screen and (max-width: 990px) {
    footer #copyright{
        float: none !important;
        text-align: center !important;
    }
    footer{
        background-position-x: 87% !important;
       
    }
}
footer h1{
    text-align: center;
    padding: 8px ;
    margin:0 auto !important;
    margin-bottom:20px !important;

    border-radius: 30px !important;
    color: white !important;
    font-weight: 400;
    font-size: 30px;
    font-family: krona;
    max-width: 100%;
    
}

.wave{
    z-index: 2;
    position: relative;
    bottom: 80px;
    left:0;

   
}

@media only screen and (max-width: 1081px) {
    .wave{
        bottom: 50px;
    }
}
@media only screen and (max-width: 713px) {
    .wave{
        bottom: 30px;
    }
}
@media only screen and (max-width: 417px) {
    .wave{
        bottom: 20px;
    }
}
.waveh{
    z-index: 599;
    position: absolute !important;
    bottom: -10px !important;
    left:0px !important;

   
}
.sectlewave{
    z-index: 599;
    position: relative !important;
    top: -10px !important;
    left:0px !important;

   
}
.sectfelwave{
   
    position: relative !important;
    bottom: -10px !important;
    left:0px !important;

   
}
.path-0{
    animation:pathAnim-0 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 L 0,150 C 104.38974358974357,161.32564102564103 208.77948717948715,172.65128205128207 284,183 C 359.22051282051285,193.34871794871793 405.2717948717949,202.72051282051282 476,192 C 546.7282051282051,181.27948717948718 642.1333333333334,150.46666666666664 740,122 C 837.8666666666666,93.53333333333335 938.1948717948719,67.41282051282052 1002,93 C 1065.805128205128,118.58717948717948 1093.0871794871796,195.8820512820513 1160,214 C 1226.9128205128204,232.1179487179487 1333.4564102564102,191.05897435897435 1440,150 L 1440,400 L 0,400 Z");
    }
    25%{
      d: path("M 0,400 L 0,150 C 60.98461538461538,157.54102564102564 121.96923076923076,165.08205128205128 208,181 C 294.03076923076924,196.91794871794872 405.10769230769233,221.21282051282049 505,204 C 604.8923076923077,186.78717948717951 693.6,128.06666666666666 755,102 C 816.4,75.93333333333332 850.4923076923078,82.5205128205128 930,94 C 1009.5076923076922,105.4794871794872 1134.430769230769,121.85128205128206 1227,132 C 1319.569230769231,142.14871794871794 1379.7846153846153,146.07435897435897 1440,150 L 1440,400 L 0,400 Z");
    }
    50%{
      d: path("M 0,400 L 0,150 C 74.04358974358973,156.15641025641025 148.08717948717947,162.3128205128205 238,152 C 327.91282051282053,141.6871794871795 433.6948717948719,114.9051282051282 507,123 C 580.3051282051281,131.0948717948718 621.1333333333333,174.06666666666666 683,173 C 744.8666666666667,171.93333333333334 827.771794871795,126.82820512820516 916,129 C 1004.228205128205,131.17179487179484 1097.7794871794872,180.6205128205128 1186,192 C 1274.2205128205128,203.3794871794872 1357.1102564102564,176.6897435897436 1440,150 L 1440,400 L 0,400 Z");
    }
    75%{
      d: path("M 0,400 L 0,150 C 53.65128205128207,148.47435897435898 107.30256410256413,146.94871794871796 195,146 C 282.69743589743587,145.05128205128204 404.4410256410256,144.67948717948718 488,165 C 571.5589743589744,185.32051282051282 616.9333333333334,226.33333333333334 689,208 C 761.0666666666666,189.66666666666666 859.825641025641,111.98717948717949 940,96 C 1020.174358974359,80.01282051282051 1081.7641025641026,125.7179487179487 1162,145 C 1242.2358974358974,164.2820512820513 1341.1179487179488,157.14102564102564 1440,150 L 1440,400 L 0,400 Z");
    }
    100%{
      d: path("M 0,400 L 0,150 C 104.38974358974357,161.32564102564103 208.77948717948715,172.65128205128207 284,183 C 359.22051282051285,193.34871794871793 405.2717948717949,202.72051282051282 476,192 C 546.7282051282051,181.27948717948718 642.1333333333334,150.46666666666664 740,122 C 837.8666666666666,93.53333333333335 938.1948717948719,67.41282051282052 1002,93 C 1065.805128205128,118.58717948717948 1093.0871794871796,195.8820512820513 1160,214 C 1226.9128205128204,232.1179487179487 1333.4564102564102,191.05897435897435 1440,150 L 1440,400 L 0,400 Z");
    }
  }

/* ---------------------- 404 ------------------------- */ 


.err{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../pics/htr2.jpg');  
    height: 100vh; 
    margin: 0;
}
.err h1{
    font-size: clamp(50px, 2vw, 10vw);
    font-family: krona;
    padding-top: 40vh !important;
    text-align: center;
    color: white !important;
    margin-bottom: 30px !important;

}
.err a    {
    text-align: center;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
}
.err{
    overflow: hidden !important;
}




/* ----------------------     ------------------------- */ 