

@font-face {
    font-family: krona;
    src: url(../fonts/KronaOne-Regular.ttf);
  }
.kerek{
    border-radius: 35px !important;
}
.gomb{
    border-radius: 30px !important;
    padding: 8px 40px 8px !important;
    text-decoration: none !important;
    border: none !important;
}
.gomb a{
    text-decoration: none !important;
}
.feherhtr{
    background: linear-gradient(180deg, white 0%, #DCDCDC 100%) !important;
    color:  black !important;
    transition: 0.4s all !important;
}

.feherhtr:hover{
    background: linear-gradient(180deg, #343434 0%, #202020 100%) !important;
    color: white !important;
    transition: 0.4s all !important;
}
.feketehtr{
    background: linear-gradient(180deg, #343434 0%, #202020 100%) !important;
    color: white !important;
    transition: 0.4s all !important;
}

.feketehtr:hover{
    background: linear-gradient(180deg, white 0%, #DCDCDC 100%) !important;
    color:  black !important;
    transition: 0.4s all !important;
}
nav{
    padding: 40px 70px 30px !important;
    z-index: 1 !important;
    
    width: 100% !important;
}
.navbar{
    background: transparent !important;
    position: sticky !important;;
}
.nav-link{
    padding: 0px 25px !important; 
    color: white !important;
    font-size: 19px !important;
    font-weight: 500 !important;
}
@media only screen and (min-width: 992px) {
.float-right{
    position: absolute;
    top: 45px!important;
    right: 60px !important;
}
.navbar-nav{
    margin-left: -60px !important  ;
}
}

.nav-link:hover{
    color: rgb(221, 221, 221) !important;
}
.navbar-brand{
    font-weight: 700 !important;
    font-size: 25px !important;
}
header{
    height: 100vh;
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
    background-image: url('../pics/headerpics.png');   
   
}
#headerszoveg{
    margin-top: 20vh !important;
    color: white !important;
    text-align: center;
}
#headerszoveg h1{
    font-size: 6rem;
    font-family: krona;
}
#headerszoveg p{
    font-size: 1.5rem;
    max-width: 650px !important;
    margin: 0 auto;
    margin-top: 20px !important;
    font-family: krona;
    color: #e6daff;
}
#headergombok a{
    margin: 20px 12px 0px !important;

}
#headergombok{
    margin-top: 30px ;
}
.bold{
    font-weight: 500 !important;
}

#tartalom{
    height: 100vh !important;
}

body{
    background-color: rgb(247, 246, 246);
}
.aktiv{
    color: #bb93fd !important;
}
#bemutato{
    margin: 0 auto !important;
    margin-top: 100px !important;
    
   
}
#bemutato h1{
    text-align: center !important;
    font-family: krona;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin: 0 auto !important;

}
.col{
    max-width: 400px;
    text-align: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
footer{
    background-color: #6322fa;
    background-image: url('../pics/htr.png');   
    background-size: cover;

    background-repeat: no-repeat;
    height: 20vh !important;
}